.footer {
    background-color: var(--charcoal);
    color: whitesmoke;
    text-decoration: none;
    padding: 20px;
}

.footer-item {
    color: whitesmoke;
    text-decoration: none;
}

.footer p {
    margin: 0;
}