.container-halves {
    border-style: solid;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Add some padding */
    display: flex;
    flex-direction: column;
}

.list-item-pair {
    border-style: solid;
    border-radius: 10px;
    display: inline-flex; /* Use inline-flex to fit content tightly */
    justify-content: center;
    margin: 5px 0; /* Add some margin for spacing between pairs */
    padding: 15px;
    background-color: #eaeaea;
}

.list-item {
    padding: 5px;
    width: 50%;
}

.list-item2 {
    border-left: 2px solid; /* Add left border */
}
